{{ template "base.html" }}

{{ section #contenu }}
<main class="container border mt-4 p-4">
    <h1>{{ #titre }}</h1>
    <p>{{ #date }}</p>
    <hr>
    {{ #contenu |RAW }}


        <!-- ajouter commentaire -->
        <form action="" method="post">
                <textarea name="contenu" class="form-control"></textarea>
                <input type="submit" name="contenu" class="btn btn-primary" value="Ajouter un commentaire">
            </form>


    <!-- supprimer commentaire -->
    <div style="background: #ecf0f1; width: 100%; height: 300px; margin-top: 15px">
            <input type="submit" name="supprimer-comm" class="btn btn-secondary" value="Supprimer">
    </div>

</main>








{{ endsection }}